ELECTRON_MIRROR=https://npmmirror.com/mirrors/electron/
registry=https://registry.npmjs.org/
registry=https://registry.npmmirror.com
sharp_binary_host=https://npmmirror.com/mirrors/sharp
shamefully-hoist=true
 