/* 通用样式, 下例 demo 单独使用都需要这块样式 */
.details-switch-demo-wrapper {
  position: relative;
  overflow: hidden;
  height: 450px;
  width: 100%;
  transition: background 1s;
}

.details-switch-demo {
  width: 700px;
  height: 400px;
  background: #fff;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}

.details-switch-demo-img-wrapper,
.details-switch-demo-text-wrapper {
  width: 50%;
  display: inline-block;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.details-switch-demo-wrapper .anticon {
  position: absolute;
  font-size: 24px;
  top: 50%;
  margin-top: -12px;
  cursor: pointer;
}

.details-switch-demo-wrapper .anticon-left {
  left: 5px;
  z-index: 999;
}

.details-switch-demo-wrapper .anticon-right {
  right: 5px;
}
@media screen and (max-width: 414px) {
  .details-switch-demo {
    transform: scale(0.6) translateX(12px);
    transform-origin: left center;
  }
}
@media screen and (max-width: 375px) {
  .details-switch-demo {
    transform: scale(0.55) translateX(7px);
  }
}
@media screen and (max-width: 320px) {
  .details-switch-demo {
    transform: scale(0.46) translateX(12px);
  }
}
